{
  "identifier": "com.theochu.append-editor",
  "name": "Append Editor - Beta Local",
  "content_type": "SN|Component",
  "area": "editor-editor",
  "version": "1.0.0",
  "description": "Append to your notes",
  "url": "http://localhost:8003/dist/index.html",
  "download_url": "",
  "latest_url": "",
  "marketing_url": "https://appendeditor.com",
  "thumbnail_url": ""
}