@import '~sn-stylekit/dist/stylekit.css';
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/dialog/dialog.css';
@import '~codemirror/addon/search/matchesonscrollbar.css';
@import '~highlight.js/scss/vs.scss';

:root {
  --sn-stylekit-font-size-editor: 16px;
  --sn-stylekit-monospace-font: SFMono-Regular, Consolas, Liberation Mono, Menlo,
    'Ubuntu Mono', courier, monospace;
}

@media screen and (max-width: 650px) {
  :root {
    --sn-stylekit-font-size-editor: 18px;
  }
  h1 {
    font-size: 1.75em; // is usually 2em
  }
}

@media print {
  .printURL {
    a[href]:after {
      content: ' (' attr(href) ')';
    }
  }
}

body,
html {
  font-family: var(--sn-stylekit-sans-serif-font);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--sn-stylekit-base-font-size);
  background-color: transparent;
}

* {
  // To prevent gray flash when focusing input on mobile Safari
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  font-family: var(--sn-stylekit-sans-serif-font);
  background-color: transparent;
}

button:hover {
  background-color: var(--sn-stylekit-contrast-background-color);
}

button:focus {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

.sn-component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //overflow-y: scroll;

  .sk-panel.main {
    max-width: 700px;
    width: 100%;
    margin: 10px 5px;

    @media screen and (max-width: 725px) {
      border-left: none;
      border-right: none;
      border-bottom: none;
      box-shadow: none;
      margin: 0;
    }
  }
  .sk-panel.main.edit.otherEditor,
  .sk-panel.main.appendix.otherEditor {
    @media screen and (max-width: 725px) {
      border-top: none;
    }
  }
  .sk-panel.main.edit.monacoEditor,
  .sk-panel.main.appendix.monacoEditor {
    max-width: 800px;
  }
  .sk-panel.main.printModeOn {
    border: 1px var(--sn-stylekit-background-color);
    box-shadow: none;
  }

  .sk-panel.main.view.printModeOn {
    max-width: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .sk-panel.main.edit.printModeOn,
  .sk-panel.main.appendix.printModeOn {
    background-color: var(--sn-stylekit-background-color);
  }

  .sk-panel-content.view {
    //height: inherit !important;
    //padding: 1.6rem 2rem !important;
    padding: 1rem 1.25rem !important;
    padding-bottom: 0px !important;
    //width: 700px;
    @media screen and (max-width: 725px) {
      //padding: 0.16rem 0.2rem !important;
      padding: 0px !important;
    }
  }

  .sk-panel-content.edit {
    padding: 1rem 1.25rem !important;
    padding-bottom: 0px !important;
    @media screen and (max-width: 725px) {
      //padding: .16rem .2rem !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      padding-top: 0px !important;
    }

    // Hides the horizontal scroll bar when using the Monaco Editor
    // Otherwise the horizontal scroll bar will flash when the Monaco editor suggests words
    &.monacoEditor {
      overflow-x: hidden !important;
    }
  }

  .sk-input.contrast.textarea {
    min-height: 100px; // 75px for three lines, 100px for four lines, 25px per line
    padding: 9px 10px; //0.7rem 0.8rem;
    max-width: inherit;
    width: calc(100% - 22px);
    height: 100%;
    //outline: 0; // doesn't do anything
    resize: vertical;
    overflow-y: auto;
    font-family: var(--sn-stylekit-sans-serif-font);
    font-size: var(--sn-stylekit-font-size-editor);
    line-height: 1.9rem;
  }

  .sk-input.contrast.textarea:focus {
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 1px;
  }

  .sk-input.contrast.textarea.editnote {
    /*@media screen and (max-width: 997px) {
      min-height: 480px;
    }*/
    max-height: calc(100% - 32px);
  }

  .sk-input.contrast.textarea.append {
    /*@media screen and (max-width: 997px) {
      min-height: 120px;
    }*/
    max-height: calc(100% - 22px);
  }

  .sk-panel-row {
    // used in #appendix
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; // default is 0.4rem top only

    .sk-button-group.stretch {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#header {
  //border-bottom: 0px;
  //border-bottom: 1px solid var(--sn-stylekit-border-color);
  background-color: var(--sn-stylekit-background-color);
  color: var(--sn-stylekit-foreground-color);

  //min-height: 26px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center; // flex-end;

  margin-left: auto;
  margin-right: auto;
  width: 100%;

  svg::after {
    content: '';
    background: var(--sn-stylekit-info-color);
    opacity: 0.1;
  }

  .sk-button-group {
    max-width: 700px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    //display: flex;
    //justify-content: space-between;
    //width: 60%;

    button {
      border-width: 0px;
      font-size: 15px;
      @media screen and (max-width: 650px) {
        font-size: 16px;
      }

      .sk-label {
        font-weight: inherit;
      }
    }
    .sk-button.off {
      opacity: 0.75;
    }
    .sk-button.divider {
      opacity: 0.25;
      cursor: unset;
      margin-right: 0px;
      @media screen and (max-width: 379px) {
        display: none;
      }
    }
    .sk-button.info.off {
      color: var(--sn-stylekit-info-color);
      background-color: transparent;
    }
    .sk-button.info.off::before {
      background-color: transparent;
    }
    .sk-button.info.off:hover {
      //color: var(--sn-stylekit-info-contrast-color);
      //background-color: var(--sn-stylekit-info-color);
      background-color: var(--sn-stylekit-contrast-background-color);
    }
    .sk-button.info.off::before:hover {
      //background-color: var(--sn-stylekit-info-color);
      background-color: var(--sn-stylekit-contrast-background-color);
    }
  }
}

.content.printModeOn {
  background-color: var(--sn-stylekit-background-color) !important;
}

#content {
  background-color: var(--sn-stylekit-contrast-background-color);
  flex: 1;
  //padding: 0 10px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 725px) {
    padding: 0;
  }
}

#content,
#appendix,
.DynamicEditor {
  font-size: var(--sn-stylekit-font-size-editor);
  a {
    color: var(--sn-stylekit-info-color); // #086dd6;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  blockquote {
    margin: 0;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }

  hr {
    border: 0.5px solid var(--sn-stylekit-border-color);
  }

  img {
    max-width: 100%; // 645.500px;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 16px;
    border-spacing: 0;
    border-collapse: collapse;

    tr {
      background-color: transparent; // #fff;
      border-top: 1px solid var(--sn-stylekit-contrast-border-color); // #c6cbd1;
    }

    td,
    th {
      padding: 6px 13px;
      border: 1px solid var(--sn-stylekit-contrast-border-color); // #dfe2e5;
    }

    tr:nth-child(2n) {
      background-color: var(
        --sn-stylekit-contrast-background-color
      ); // #f6f8fa;
      code,
      pre {
        background-color: var(--sn-stylekit-background-color);
      }
    }
  }
  summary {
    .link {
      display: inline;
      color: var(--sn-stylekit-info-color);
    }
    .link:hover {
      text-decoration: underline;
    }
  }

  h1,
  h2,
  h3 {
    line-height: normal;
  }
}

// Exclude CodeMirror
#appendDynamicEditor,
#dynamicEditor,
.rendered-section,
#intro,
#help,
#renderedNote,
#settings,
.DynamicEditor {
  code,
  pre {
    font-family: var(--sn-stylekit-monospace-font);
  }
  .hljs {
    color: var(--sn-stylekit-contrast-foreground-color);
  }
  .hljs-tag {
    color: var(--sn-stylekit-foreground-color);
  }

  code {
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: var(
      --sn-stylekit-contrast-background-color
    ); // rgba(27,31,35,.05);
    border-radius: 3px;
  }

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(
      --sn-stylekit-contrast-background-color
    ); // rgba(27,31,35,.05);// #f6f8fa; the latter doesn't work well on dark mode
    color: var(--sn-stylekit-foreground-color);
    border-radius: 3px;
    word-wrap: normal;
    margin-top: 0;
    margin-bottom: 16px;
  }

  pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    background-color: transparent;
    border: 0;
  }

  pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
  }
}

#intro,
#help,
.rendered-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 645.5px; //628.700px;
}

.rendered-section {
  padding: 9px 10px;
  border: 1px transparent;
  border-style: solid;
  height: calc(100% - 20px);
}

#intro,
#help,
#renderedNote,
.rendered-section {
  /*align-items: center;
  justify-content: space-between;
  min-width: inherit;
  width: 100%;
  word-wrap: break-word;*/
  line-height: 1.9rem;
}

#renderedNote > div > :nth-child(1),
.ProseMirror > :nth-child(2) {
  margin-top: 0px;
}

.sk-notification {
  // Hacking sk-notification style
  overflow: visible !important; // We need this for the dropdown menu
  margin: 10px 0 0 0 !important;
  //padding: 28px 14px 28px 28px !important;
  padding: 21px 14px 21px 28px !important; //top left bottom right
}

.note-dialog {
  max-width: 700px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

#settings .sk-panel-section:last-child {
  margin-bottom: 0px;
}
.sk-panel-section {
  padding-bottom: 0px;
}

#content .note-dialog,
.sk-panel.main.settings {
  h1 {
    margin: 0.2em 0px;
  }
  .title-section {
    padding-top: 0px;
  }
  .text-and-undo-button {
    display: flex;
    p,
    .undo-button {
      margin-top: 0px;
      margin-bottom: 0px;
      display: inline;
    }
  }
  button {
    border-width: 0px;
    font-size: 16px;
    @media screen and (max-width: 650px) {
      font-size: 17px;
    }
    &.toggle-button {
      padding-left: 0px;
      display: flex;
    }
    .chevron-button,
    .button-caption {
      line-height: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .button-caption {
      color: var(--sn-stylekit-foreground-color);
    }
    .sk-label {
      font-weight: normal !important;
    }
  }
  button:hover,
  input[type='checkbox' i]:hover {
    cursor: pointer;
  }

  .sk-panel-header {
    .sk-button.info {
      color: var(--sn-stylekit-info-color);
      background-color: transparent;
    }
    .sk-button.info::before {
      background-color: transparent;
    }
    .sk-button.info:hover {
      color: var(--sn-stylekit-info-contrast-color);
      background-color: var(--sn-stylekit-info-color);
      a {
        color: var(--sn-stylekit-info-contrast-color);
      }
    }
    .sk-button.info::before:hover {
      background-color: var(--sn-stylekit-info-color);
    }
  }

  .sk-panel-row.settings {
    padding-top: 0.2rem;
    label,
    input,
    select {
      cursor: pointer;
    }
    input,
    select {
      font-size: 16px;
      padding: 0.5rem;
      background-color: var(--sn-stylekit-contrast-background-color);
      border-color: var(--sn-stylekit-border-color);
      color: var(--sn-stylekit-foreground-color);
    }
    input[type='text'] {
      min-width: 250px;
    }
    select {
      min-width: 267px;
    }
    .radio {
      margin-top: 3px;
      margin-bottom: 3px;
    }
    textarea {
      // This seems to make the textarea blurry on Firefox
      white-space: pre;
      overflow-x: auto;
      font-family: var(--sn-stylekit-monospace-font);
    }
    // Collapse on mobile
    @media screen and (max-width: 480px) {
      flex-direction: column !important;
      align-items: flex-start !important;

      input {
        margin-top: 1rem;
      }
    }
  }
}

.note-overlay {
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.appendix.printModeOn {
  background-color: var(--sn-stylekit-background-color) !important;
}

#appendix {
  background-color: var(--sn-stylekit-contrast-background-color);
  display: block;

  .sk-button-group {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .sk-panel {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .checkBoxForm {
    position: absolute;
    font-size: 13px;

    label {
      cursor: pointer;
    }
    padding-left: 25px;
    @media screen and (max-width: 600px) {
      padding-left: 10px;
    }
    @media screen and (max-width: 500px) {
      padding-left: 5px;
    }
    @media screen and (max-width: 455px) {
      label {
        font-size: 12px;
      }
    }
    @media screen and (max-width: 426px) {
      label {
        font-size: 11px;
      }
    }
    @media screen and (max-width: 410px) {
      label {
        font-size: 10px;
      }
    }
    @media screen and (max-width: 388px) {
      label {
        font-size: 9px;
      }
    }
  }

  #appendTextButton,
  #scrollToTopButton,
  #scrollToBottomButton {
    border-width: 0px;
    font-size: 14px;
    @media screen and (max-width: 650px) {
      font-size: 17px;
    }
    .sk-label {
      font-weight: inherit;
    }
  }

  #scrollToTopButton {
    position: fixed;
    right: 25px;
    bottom: 45px;
    @media screen and (max-width: 725px) {
      right: 15px;
      bottom: 5.2px;
    }
  }
  #scrollToBottomButton {
    position: fixed;
    right: 25px;
    bottom: 10px;
    @media screen and (max-width: 725px) {
      right: 55px;
      bottom: 5.2px;
    }
  }
}

#content .CodeMirror {
  max-height: calc(100% - 1rem);
}

#appendix .CodeMirror {
  max-height: calc(100% - 2px);
}

.CodeMirror {
  //fix : margin left is 30px;
  font-family: var(--sn-stylekit-sans-serif-font);
  font-size: var(--sn-stylekit-font-size-editor);
  background: inherit;
  color: inherit;
  line-height: 1.9rem;
  min-height: 8.25em;
  border: 1px solid var(--sn-stylekit-contrast-border-color);
  background-color: var(--sn-stylekit-contrast-background-color);

  @media screen and (max-width: 725px) {
    border-top: 1px solid var(--sn-stylekit-border-color);
  }
  .CodeMirror-scroll,
  .CodeMirror-sizer,
  .CodeMirror-gutter,
  .CodeMirror-gutters,
  .CodeMirror-linenumber {
    background: inherit;
  }
  .CodeMirror-linenumber {
    font-family: var(--sn-stylekit-monospace-font);
  }
  .cm-header.cm-header-1 {
    font-size: 2em;
  }
  .cm-header.cm-header-2 {
    font-size: 1.5em;
  }
  .cm-header.cm-header-3 {
    font-size: 1.17em;
  }
  .cm-header.cm-header-4 {
    font-size: 1em;
  }
  .cm-comment {
    background-color: var(--sn-stylekit-contrast-background-color);
    color: var(--sn-stylekit-contrast-foreground-color);
    font-family: var(--sn-stylekit-monospace-font);
    font-size: 85%;
    margin: 0;
    padding: 0.2em 0.4em;
  }
  .cm-comment.CodeMirror-selectedtext,
  .cm-comment.cm-link.CodeMirror-selectedtext {
    background-color: unset;
  }
  .cm-attribute,
  .cm-header {
    color: var(--sn-stylekit-success-color);
  }
  .cm-variable,
  .cm-variable-1,
  .cm-variable-2,
  .cm-variable-3,
  .cm-string-2,
  .cm-tag,
  .cm-tag.cm-bracket {
    color: var(--sn-stylekit-foreground-color);
    &.CodeMirror-selectedtext {
      color: var(--sn-stylekit-info-contrast-color);
      background: transparent;
    }
  }
  .cm-builtin,
  .cm-string,
  .cm-string.cm-url.cm-variable-2 {
    color: var(--sn-stylekit-warning-color);
  }
  .cm-error {
    color: var(--sn-stylekit-danger-color);
  }
  .cm-link,
  .cm-link.cm-variable-2 {
    color: var(--sn-stylekit-info-color);
  }
  .cm-quote {
    color: #6a737d;
  }
}
.cm-link,
.cm-string,
.cm-keyword,
.cm-builtin,
.cm-number,
.cm-attribute {
  &.CodeMirror-selectedtext {
    color: var(--sn-stylekit-info-contrast-color);
    background: transparent;
  }
}
.CodeMirror-dialog {
  position: fixed;
  background: var(--sn-stylekit-background-color);
}
.CodeMirror-cursor {
  border-color: var(--sn-stylekit-info-color);
}
.CodeMirror-selected {
  background: var(--sn-stylekit-input-placeholder-color);
  color: var(--sn-stylekit-info-contrast-color);
}
.CodeMirror-focused .CodeMirror-selected {
  background: var(--sn-stylekit-info-color);
  color: var(--sn-stylekit-info-contrast-color);
}
.CodeMirror-selectedtext {
  background: transparent;
  color: var(--sn-stylekit-info-contrast-color);
}

.MonacoEditorContainer,
.MonacoDiffEditorContainer {
  min-height: 200px;
  width: calc(100% - 1.5px);
  max-width: inherit;
  max-height: inherit;
}

.edit .MonacoEditorContainer,
.edit .MonacoDiffEditorContainer {
  min-height: 200px;
  height: calc(100% - 25px);
  margin-bottom: 25px;
}

#appendix .MonacoEditorContainer {
  height: 400px;
}

.DynamicEditor {
  padding: 0px 10px 10px;
}
button.block-menu-trigger {
  display: none !important;
}
@media screen and (min-width: 725px) {
  .DynamicEditor {
    padding: 5px 20px 10px;
  }
}
@media screen and (min-width: 600px) {
  .YouTube {
    min-height: 315px;
    min-width: 560px;
    margin: 10px auto;
    display: block;
  }
}

.ProseMirror {
  background-color: var(--sn-stylekit-background-color);
  color: var(--sn-stylekit-foreground-color);
}
